<h1 class="interior columna-triple margen20">Edit user</h1>

<div class=" columna-triple-expandida filete-superior-fino margen20">

<%= render 'form' %>

  <span class="show"><%= link_to 'Show', @user %> </span>
<span class="back"><%= link_to 'Back', users_path %> </span>
</div>
