<h1 class="interior columna-triple margen20">Listing users</h1>

<div class=" columna-triple-expandida filete-superior-fino margen20">


<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @users %>
</table>

<br />

  <div id="alta"><%= link_to 'New User', new_user_path %> </div>
</div>
