<h1 class="interior columna-triple margen20">New user</h1>

<div class=" columna-triple-expandida filete-superior-fino margen20">

<%= render 'form' %>

  <span class="back"><%= link_to 'Back', users_path %>    </span>
</div>
