<h1 class="interior columna-triple margen20">Edit product</h1>

<div class=" columna-triple-expandida filete-superior-fino margen20">


<%= render 'form' %>

  <span class="show"><%= link_to 'Show', @product %> </span>
<span class="back"><%= link_to 'Back', products_path %>  </span>
 </div>