<h1 class="interior columna-triple margen20">New review</h1>

<div class=" columna-triple-expandida filete-superior-fino margen20">

<%= render 'form' %>

  <span class="back"><%= link_to 'Back', :back %>  </span>
 </div>